---
layout: single
title: "Publications"
permalink: /publications/
author_profile: true
---
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<h2>1st author papers</h2>

<ol>
  <li>Kuwahara, A., Lambrechts, M., Kurokawa, H., Okuzumi, S., and Tanigawa, T. (2024) 
    Dust ring and gap formation by gas flow induced by low-mass planets
    embedded in protoplanetary disks II. Time-dependent model, A&A, 692, A45.</li>
  <li>Kuwahara, A., and Kurokawa, H. (2024) Analytic description of the gas flow around planets embedded in protoplanetary disks, Astronomy and Astrophysics, 682, A14.</li>
  <li></li>
  
</ol>

<!--
---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
-->


<!-- New style rendering if publication categories are defined -->

<!-- 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
-->
